.title-container {
    text-align: left;
    margin: 16px;
    font-weight: bold;
  }

  ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media (max-height: 600px) {
        bottom: 8px;
    }
    
    @media (min-height: 601px) and (max-height: 800px) {
        bottom: 16px;
    }

    @media (min-height: 801px) {
        bottom: 24px;
    }
}


ion-content {
    --padding-bottom: 60px;
}

.button-container {
    position: fixed;
    bottom: 16px; 
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}
